@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Montserrat;
  transition: all .4s ease-in-out;
}
:root{
  --globalPrimary: #2a3988;
}

ul{
  padding: 0;
  list-style: none;
}
a{
  color: #fff;
  text-decoration: none;
}
button{
  cursor: pointer;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}