header {
    position: fixed;
    inset: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
}

.top__right ul, .top__right a {

    display: flex;
    align-items: center;
    font-weight: 700;

}
.top__right li{
    margin: 0 0 0 50px;
}
.top__right svg{
    margin: 0 5px 0 0;
}