header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
    font-size: 14px;
}

.top__right {
    & a,
    & ul {
        display: flex;
        align-items: center;
        font-weight: 700;
        flex-wrap: wrap;
        justify-content: end;
    }

    & li {
        margin: 0 0 0 50px;
        &:first-child{
            margin: 0;
        }
    }

    & svg {
        margin: 0 5px 0 0;
    }

    & a:hover {
        text-shadow: 0 0 10px #fff;

    }
}


.header__items {
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;

    & .logo{
        max-width: 214px;
        min-width: 150px;
        & img{
            width: 100%;
        }
    }

    & ul {
        display: flex;
        & li{
            margin: 0 25px 0 0;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 3px;
                border-radius: 3px;
                background-color: #00FFF0;
                transition: all .4s ease-in-out;
            }
            &:hover{
                & a{
                    color: #00FFF0;
                }
                &::after{
                    width: 100%;
                }
            }
            & a{
                display: inline-block;
                padding: 10px 0;
                font-weight: 500;
            }
            &:last-child{
                margin: 0;
            }
        }
    }
}

