header {
    position: fixed;
    inset: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}

.top__right ul, .top__right a {

    display: flex;
    align-items: center;

}
.top__right li{
    margin: 0 0 0 50px;
}