.program{
    text-align: center;

    & .date{
        background-color: #2A3988;
        padding: 15px;
        & p{
            display: flex; 
            align-items: center;
            justify-content: center;
            & svg{
                margin: 0 5px 0 0;
            }
        }
    }
}