.intro{
    min-height: 100vh;
    background: url('./../../../public/assets/img/introBg.webp') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;

    & h1{
        font-size: clamp(45px, 8vw, 100px);
        color: #fff;
        text-align: center;
        & span{
            font-weight: 900;
        }
    }
}

.intro__content{
    & p{
        color: #fff;
        text-align: center;
    }
}

